<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('head'); %>
</head>
<body class="container">

<header>
  <%- include('header'); %>
</header>

<main>
  <div class="client_list">
    <h1>Client List Display </h1>
  </div>
</main>
</body>
</html>